body {
    background-color: steelblue;
    
      
}

 nav a {
    color:white;
}

#current-link {
    text-decoration: none;
    text-decoration-color: white;
}

.uppercase {
    text-transform: uppercase;
    font-size: 36px;
    font-style: oblique;
    
}


img {
    width: 550px;
    height: auto;
}

h1{
    border: 4px dashed black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 100px;
      background-image:gerb-computer_1.jpg:
          
    
}

